body {
    height: 95vh;
    margin: 0;
    padding: 0;
}

.light body {
    background-color: #FAFAFA;
}

.dark body {
    background-color: #171717;
}

#app {
    height: 100%;
}

* {
    box-sizing: border-box;
}
