html, body, #app {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.light body {
    background-color: #FAFAFA;
}

.dark body {
    background-color: #171717;
}

* {
    box-sizing: border-box;
}
