// Light
$light-background: #fdfdfd;
$light-secondary: #f1f1f1;
$light-foreground: #1c1d1a;

// Dark
$dark-background: #1c1d1a;
$dark-secondary: #323130;
$dark-foreground: #fdfdfd;

// Accent
$accent-green: #77DD77;
$accent-pink: #F67280;
$accent-purple: #7868E6;